################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backend/DotNetCore/Angular/.vs
/Backend/DotNetCore/Angular/obj
/Backend/DotNetCore/Angular/bin
/Frontend/DotNetCore/AspNetMvc/obj
/Frontend/DotNetCore/AspNetMvc/.vs
/Frontend/DotNetCore/AspNetMvc/obj
/Frontend/DotNetCore/AspNetMvc/bin
/Frontend/DotNetCore/AspNetMvc/ShoeStore.Frontend/obj
/Frontend/DotNetCore/AspNetMvc/ShoeStore.Frontend/bin
/Products/DotNetCore/WebApi/.vs
/Products/DotNetCore/WebApi/obj
/Products/DotNetCore/WebApi/bin
/Products/DotNetCore/WebApi/ShoeStore.Products.Domain/bin
/Products/DotNetCore/WebApi/ShoeStore.Products.Domain/obj
/Products/DotNetCore/WebApi/ShoeStore.Products.Infrastructure.Data/bin
/Products/DotNetCore/WebApi/ShoeStore.Products.Infrastructure.Data/obj
/Products/DotNetCore/WebApi/ShoeStore.ProductsApi/bin
/Products/DotNetCore/WebApi/ShoeStore.ProductsApi/obj
/Backend/Angular/CLI/ShoeStore.Backend/.vs
/Backend/DotNet/Angular/.vs
/Backend/DotNet/Angular/ShoeStore.Backend/bin
/Backend/DotNet/Angular/ShoeStore.Backend/obj
/Users/DotNet/WebApi/ShoeStore.UsersApi/bin
/Products/DotNet/WebApi/ShoeStore.ProductsApi/bin
/Backend/DotNet/Angular/ShoeStore.Backend.Tests/obj
/Products/DotNet/WebApi/ShoeStore.Products.Domain/obj/Debug
/Products/DotNet/WebApi/ShoeStore.Products.Infrastructure.Data.EF/obj/Debug
/Products/DotNet/WebApi/ShoeStore.ProductsApi.Tests/obj/Debug
/Users/DotNet/WebApi/ShoeStore.UsersApi/obj/Debug
/Users/DotNet/WebApi/ShoeStore.UsersApi.Tests/obj/Debug
/Products/DotNet/WebApi/ShoeStore.ProductsApi/obj/Debug
/Products/DotNet/WebApi/.vs
/Users/DotNet/WebApi/.vs
/Products/DotNet/WebApi/packages/EntityFramework.6.1.3
/Products/DotNet/WebApi/ShoeStore.Products.Infrastructure.Data.EF/App.config
/Products/DotNet/WebApi/ShoeStore.ProductsApi.Tests/bin/Debug
/Products/DotNet/WebApi/ShoeStore.Products.Infrastructure.Data.EF/bin/Debug
/Products/DotNet/WebApi/ShoeStore.Products.Domain/bin/Debug
/Products/DotNet/WebApi/ShoeStore.Products.Application/bin/Debug
/Products/DotNet/WebApi/ShoeStore.Products.Application/obj/Debug
/Products/DotNet/WebApi/ShoeStore.ProductsApi/App_Data/ShoeStoreProductsDbContext_log.ldf
/Products/DotNet/WebApi/ShoeStore.ProductsApi/App_Data/ShoeStoreProductsDbContext.mdf
/Products/DotNet/WebApi/ShoeStore.Products.Application/bin/Release
/Products/DotNet/WebApi/ShoeStore.Products.Application/obj/Release
/Products/DotNet/WebApi/ShoeStore.Products.Domain/bin/Release
/Products/DotNet/WebApi/ShoeStore.Products.Domain/obj/Release
/Products/DotNet/WebApi/ShoeStore.Products.Infrastructure.Data.EF/bin/Release
/Products/DotNet/WebApi/ShoeStore.Products.Infrastructure.Data.EF/obj/Release
/Products/DotNet/WebApi/ShoeStore.ProductsApi/obj/Release
/Products/DotNet/WebApi/ShoeStore.ProductsApi/Properties/PublishProfiles
/Products/DotNet/WebApi/ShoeStore.ProductsApi.Tests/obj/Release
/Users/DotNet/WebApi/ShoeStore.UsersApi/obj/Release
/Users/DotNet/WebApi/ShoeStore.UsersApi.Tests/obj/Release
/Products/DotNet/WebApi/ShoeStore.ProductsApi.Tests/bin/Release
